/target/
/datingapp-auth-service2/target/
/datingapp-chat-service/target/
/datingapp-game-service/target/
/datingapp-login-service/target/
/datingapp-service-discovery2/target/
/datingapp-config-server/target/
/datingapp-auth-demo/target
/.idea/
.DS_Store
.idea/workspace.xml
datingapp-auth-demo/datingapp-auth-demo.iml
datingapp-auth-service2/.DS_Store
datingapp-chat-service/src/main/java/com/datingapp/.DS_Store
datingapp-config-server/.DS_Store
datingapp-config-server/src/.DS_Store
datingapp-config-server/src/main/.DS_Store
datingapp-config-server/src/main/java/.DS_Store
datingapp-config-server/src/main/java/com/.DS_Store
.DS_Store
.idea/workspace.xml
datingapp-auth-service2/.DS_Store
.DS_Store
.idea/workspace.xml
datingapp-auth-service2/.DS_Store
/.github/
/.idea/
