/target/
/datingapp-auth-service/target/
/datingapp-chat-service/target/
/datingapp-game-service/target/
/datingapp-login-service/target/
/datingapp-service-discovery/target/
/datingapp-config-server/target/
/.idea/
